.profile {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__information {
    margin: 20px 0;
  }

  &__posts {
    width: 100%;
  }
}

@media (min-width: 900px) {
  .profile {
    &__posts {
      margin: 0 auto;
      width: 75%;
    }
  }
}