@use '../../variables';

.navigation {
  position: fixed;
  top: 62px;
  left: 0;
  z-index: 1;
  background-color: #eef0f2;
  text-align: center;
  width: 100%;
  height: calc(100% - 64px);


  @media screen and (min-width:900px) {
    position: initial;
    top: initial;
    left: initial;
    z-index: initial;
    background-color: initial;
    text-align: initial;
    width: initial;
    height: initial;
  }

  &__list {
    list-style-type: none;
  }

  &__item {
    margin-top: 20px;
  }

  &__link {
    text-decoration: none;
    color: black;
    font-size: 32px;
  }

  &__btn {
    background-color: transparent;
    border: none;
    font-size: 32px;
    font-weight: 400;

    &:hover {
      cursor: pointer;
    }
  }
}