.navigation {

  &__list {
    list-style-type: none;
  }

  &__item {
    margin-top: 20px;
  }

  &__link {
    text-decoration: none;
    color: black;
    font-size: 32px;
  }

  &__btn {
    background-color: transparent;
    border: none;
    font-size: 32px;
    font-weight: 400;
  }

}