.modal {
  position: fixed;
  z-index: 1;
  margin: 0 auto;
  left: 0%;
  top: 30%;
  width: 100%;
  padding: 16px;
  background-color: dodgerblue;
  color: white;
  border-radius: 10px;
  text-align: center;

  @media (min-width: 900px) {
    width: 70%;
    top: 30%;
    left: 15%;
  }

  @media (min-width: 1400px) {
    width: 40%;
    top: 30%;
    left: 30%;
  }

  &__description {
    margin: 16px 0 8px 0;
  }

  &__body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 16px;
    margin-top: 32px;
  }

  &__btn {
    width: 180px;
    border: none;
    background-color: white;
    color: black;
    border-radius: 9px;
    padding: 5px 20px;

    &:focus {
      outline: none;
    }
  }
}