header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 5%;
  background-color: white;

  a {
    color: #0466c8;
    text-decoration: none;
  }

  button {
    width: 30%;
    border: none;
    background-color: dodgerblue;
    color: white;
    border-radius: 9px;
    padding: 5px 20px;

    &:focus {
      outline: none;
    }
  }
}

@media (min-width: 900px) {
  header {
    padding: .5% 5%;

    button {
      width: 15%;
    }
  }
}