header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 5%;
  background-color: white;

  a {
    color: #0466c8;
    text-decoration: none;
  }

  input {
    width: 25%;
    border-radius: 9px;
    border: 1px solid aliceblue;
    background-color: #eef0f2;
    padding: 5px 10px;

    &:focus {
      outline: none;
    }
  }

  button {
    width: 10%;
    border: none;
    background-color: dodgerblue;
    color: white;
    border-radius: 9px;
    padding: 5px 20px;

    &:focus {
      outline: none;
    }
  }
}