@use '../../variables';

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  background-color: white;

  &__logo {
    color: variables.$secondary-color;
    text-decoration: none;
    font-size: 30px;
    align-self: center;
  }

  &__img {
    height: 30px;
  }

  &__button {
    width: 150px;
    border: none;
    background-color: variables.$primary-color;
    color: white;
    border-radius: 9px;
    padding: 5px 20px;

    &:focus {
      outline: none;
    }
  }
}