.post {
  position: relative;
  background-color: white;
  margin: 10px 0;
  padding: 15px;

  .remove__btn {
    position: absolute;
    right: 1rem;
    top: 0.5rem;
    cursor: pointer;
    border: none;
    background-color: transparent;
  }

  .post__information {
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
      border-radius: 50%;
      height: 5rem;
      width: auto;
    }

    div {
      display: flex;
      flex-direction: column;
      margin-left: .5rem;

      a {
        text-decoration: none;
      }

      .post__information__author {
        color: black;
      }

      .post__information__date {
        margin-top: .5rem;
        color: silver;
      }
    }
  }

  .post__text {
    margin: 1.5rem 0;

    p {
      font-weight: 500;
      font-size: 18px;
    }
  }

  .post__more__information {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    padding: 10px;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;

    div {
      margin-right: 20px;

      button {
        margin-right: 5px;
        border: none;
        background-color: transparent;

        &:hover {
          cursor: pointer;
        }

        &:focus {
          outline: none;
        }
      }
    }
  }

  .post__comment__input {
    input {
      color: silver;
      width: 100%;
      border-radius: 10px;
    }
  }
}