.post {
  position: relative;
  background-color: white;
  padding: 15px;

  &:not(:first-child) {
    margin: 10px 0;
  }

  &__btn {
    margin-right: 5px;
    border: none;
    background-color: transparent;

    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }


    &--remove {
      position: absolute;
      right: 16px;
      top: 8px;
      cursor: pointer;
      border: none;
      background-color: transparent;
    }
  }

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__avatar {
    border-radius: 50%;
    height: 80px;
    width: auto;
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
  }

  &__link {
    text-decoration: none;
  }

  &__author {
    color: black;
  }

  .post__date {
    margin-top: 8px;
    color: silver;
  }

  &__body {
    margin: 24px 0;
  }

  &__text {
    font-weight: 500;
    font-size: 18px;
  }

  &__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    padding: 10px;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
  }

  &__likes {
    margin-right: 20px;
  }

  &__input {
    color: black;
    width: 100%;
    border-radius: 8px;
    padding: 4px 8px;
    border: 1px solid black;
  }
}